@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html {
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
}


body {
    background-color: black;
    color: white;
}

.login-label {
    font-size: 2.5rem;
    font-weight: 350;
}

.login-nav-bar {
    display: flex;
    height: 120px;
    background-color: black;
    font-size: 2rem;

}

.main-login-section {
    display: flex;
    flex-direction: column;
    height: auto;
    background-color: black;
    font-size: 1.4rem;
    width: 70%;
    margin: 0 auto;
}

.form-section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
    background-color: black;
    font-size: 1.4rem;
    gap:20px
}

.form-section input[type="text"], 
.form-section input[type="password"] {
    padding: 8px 12px;
    font-size: 1.2rem;
    border-radius: 4px;
}

.form-section .login-button {
    width:73px;
    background-color: #1976d2;
    color: white;
    border: none;
    padding: 8px 16px;
    font-size: 1.2rem;
    font-family: "Roboto", sans-serif;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.2s ease;

}

